<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yesgaori.spring.ex.database.repository.UsedGoodsRepository">
	
	<select id="selectUsedGoodsList" 
	resultType="com.yesgaori.spring.ex.database.domain.UsedGoods">
		SELECT
			`id`
			, `sellerId`
			, `price`
			, `description`
			, `image`
			, `createdAt`
			, `updatedAt`
		FROM
			`used_goods`
			
	</select>

</mapper>
